$gridItemSize: 100px;

* {
    padding: 0;
    margin: 0;
    color: white;
    font-size: 1.2rem;
    box-sizing: border-box;
}

.grid-item {    
    border: 1px solid #222222;
}

#page-wrapper {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #222222;

    #calculator-wrapper {
        display: grid;
        grid-template-columns: repeat(4, $gridItemSize);
        grid-template-rows: $gridItemSize+30px repeat(5, $gridItemSize);
        grid-template-areas: 
            "display display display display"
            "clear clear divide multiply"
            "number number number subtract"
            "number number number add"
            "number number number equals"
            "zero zero decimal equals";
    }
}
